<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Login</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/basic.css">
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <!-- <header>
     <h1><%= title %></h1>
  </header>
  <nav>
     <span><a title="主页" href="/">home</a></span>
     <span><a title="登陆" href="/login">login</a></span>
     <span><a title="注册" href="/reg">register</a></span>
  </nav> -->
  <header id="header">
    <div class="center">
        <h1 class="logo">hello旅行社</h1>
        <nav class="link">
            <h2 style="display:none;">网站导航</h2>
            <ul>
                <li class="active"><a href="/">HOME</a></li>
                <li>
                  <% if(locals.islogin){ %>
                  <a href="/login"><%= user %></a>
                  <% }else{ %>
                    <a href="/login">Sign in</a>
                    <% } %>
                </li>
                <li><a href="/reg">Sign up</a></li>
                <li><a href="/chat">聊天室</a></li>
                <li><a href="/photos">相册</a></li>
            </ul>
        </nav>
    </div>
</header>
<article>
