@charset "utf-8";
body,h1,h2,h3,ul,figure{
	margin:0;
	padding: 0;
}
ul{
	list-style: outside none none;
}
a{
	text-decoration: none;
}
#header{
	width: 100%;
	height: 70px;
	background-color: #333;
}
#header .center{
	width: 1263px;
	height: 70px;
	margin:0 auto;
}
#header .logo{
	width: 240px;
	height: 70px;
	background-image: url(../img/logo.png);
	text-indent: -1000000px;
	float: left;
}
#header .link{
	width: 650px;
	float: right;
	height: 70px;
	line-height: 70px;
	color: #eee;
}
#header .link li{
	width: 120px;
	text-align: center;
	float: left;
}
#header .link a{
	color: #eee;
	display: block;
}
#header .link a:hover,
#header .active a{
	background-color: #000;
}

#footer{
	height: 350px;
	background: #222;
}
#footer .top{
	width: 1263px;
	height: 270px;
	margin: 0 auto;
	text-align: center;
}
#footer .block{
	width: 410px;
	height: 270px;
	display: inline-block;	
	color: #ccc;
	vertical-align: top;
	text-align: left;
}
#footer h2{
	font-weight: normal;
	padding: 20px 0 0 20px;
	font-size: 24px;
}
#footer hr{
	width: 88%;
	height: 1px;
	border: none;
	border-top: 2px dotted #333;
}
#footer ul{
	color: #666;
	font-size: 18px;
	text-indent: 20px;
	line-height: 2;
}
#footer .buttom{
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #333;
	background-color: #000;
	border-top: 1px solid #444;
}